.att{
    margin-top:30px;
    margin-left: 20px;

}

/* .table-color{
    background-color: #fce5f3;
} */

.search-bar{
    padding: 6px;
}

td.highlight{
    background-color: #ec407a;
    color:white;
}



